:root{
    --pink:#d46a92;
    --light-pink:#fff7fa;
    --rose:#f4b6c2;
    --text:#5c4b51;
    --white:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:
    linear-gradient(
        180deg,
        #fff8fb 0%,
        #fff3f8 100%
    );
    color:#5c4b51;
    overflow-x:hidden;
}

section{
    padding:80px 20px;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;

    background:
    radial-gradient(
        circle at top,
        #ffe7f0 0%,
        #fff7fa 65%
    );
}



.hero h1{
    font-family:'Cormorant Garamond', serif;
    font-size:4.8rem;
    font-weight:700;
    color:#cf5d89;
    line-height:.95;
    letter-spacing:-2px;
    margin-bottom:10px;
}

.hero h2{
    margin-top:10px;
    font-size:2rem;
    color:#b84f78;
    font-weight:600;
}

.hero-heart{
    font-size:4rem;
    margin-bottom:20px;

    filter:
        drop-shadow(0 0 10px rgba(212,106,146,.25));

    animation:
        heartbeat 2s infinite;
}

@keyframes heartbeat{

    0%,100%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.15);
    }

}

.hero p{
    margin-top:20px;
    color:#856772;
    font-size:1rem;
}

.hero-content{
    max-width:700px;
    padding:20px;
}

.scroll-down{
    margin-top:40px;
    animation:float 2s infinite;
}

.letter-card{
    max-width:600px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.letter-card p{
    margin:15px 0;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
    font-family:'Cormorant Garamond', serif;
    font-size:3rem;
    color:#d46a92;
}

.timeline-section{
    position:relative;
}

#timelineContainer{
    max-width:700px;
    margin:auto;
}

.final-section{
    min-height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.final-section h2{
    font-family:'Cormorant Garamond', serif;
    font-size:4rem;
    color:#d46a92;
    line-height:1.2;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-8px);
    }
}

.letter-card{
    max-width:650px;

    margin:auto;

    background:white;

    padding:35px;

    border-radius:30px;

    text-align:center;

    box-shadow:
    0 15px 40px rgba(0,0,0,.08);
}

.letter-card p{
    margin:18px 0;

    font-size:1.2rem;

    line-height:1.9;

    color:#6f5961;

    font-family:'Caveat',cursive;
}

.timeline-container{
    max-width:700px;
    margin:auto;
    position:relative;
}

.timeline-container::before{
    content:"";
    position:absolute;

    top:0;
    bottom:0;

    left:50%;
    transform:translateX(-50%);

    width:4px;

    background:
    linear-gradient(
        180deg,
        #f8c5d7,
        #f4b6c2
    );

    border-radius:999px;
}

.timeline-item{
    margin-bottom:80px;
    text-align:center;
}

.timeline-heart{
    width:56px;
    height:56px;

    margin:auto auto 18px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:26px;

    background:white;

    border-radius:50%;

    box-shadow:
    0 10px 25px rgba(212,106,146,.18);

    position:relative;
    z-index:2;
}

.timeline-date{
    font-weight:600;
    color:#b84f78;
    margin-bottom:20px;
    font-size:1rem;
}

.media-card{
    background:white;

    border-radius:28px;

    padding:14px;

    box-shadow:
    0 12px 35px rgba(0,0,0,.08);

    transition:.3s;
}

.media-card:hover{
    transform:translateY(-4px);
}

.timeline-image,
.timeline-video,
.media-card img,
.media-card video{

    width:100%;
    display:block;

    border-radius:20px;

    cursor:pointer;
}

.gallery-grid{
    display:grid;
    gap:12px;
}

.year-divider{
    text-align:center;
    margin:120px 0 70px;
    position:relative;
    z-index:2;
}

.year-divider span{
    font-family:'Cormorant Garamond', serif;

    font-size:3rem;

    color:#cf5d89;

    background:#fff7fa;

    padding:0 25px;
}

.lightbox{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.92);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
    padding:20px;
}

.lightbox.active{
    display:flex;
}

#lightboxImage{
    max-width:100%;
    max-height:90vh;
    border-radius:15px;
}

#closeLightbox{
    position:absolute;
    top:20px;
    right:25px;
    color:white;
    font-size:40px;
    cursor:pointer;
}

.timeline-item{
    opacity:0;
    transform:translateY(50px);
    transition:.8s;
}

.timeline-item.show{
    opacity:1;
    transform:translateY(0);
}


@keyframes floatHearts{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-120px);
    }

}

#hearts-container{
    position:fixed;
    inset:0;

    pointer-events:none;

    overflow:hidden;

    z-index:0;
}
.hero,
.timeline-section,
.letter-section,
.final-section{
    position:relative;
    z-index:2;
}

.floating-heart{
    position:absolute;
    bottom:-50px;

    opacity:.5;

    animation:floatUp linear forwards;
}

@keyframes floatUp{

    from{
        transform:
            translateY(0)
            translateX(0)
            rotate(0deg);

        opacity:.5;
    }

    to{
        transform:
            translateY(-120vh)
            translateX(var(--drift, 0px))
            rotate(360deg);

        opacity:0;
    }

}

.relationship-counter{
    padding-top:20px;
}

.counter-card{
    max-width:900px;
    margin:auto;

    background:white;

    padding:40px 25px;

    border-radius:30px;

    text-align:center;

    box-shadow:
        0 15px 40px rgba(0,0,0,.08);
}

.counter-card h2{
    font-family:'Cormorant Garamond', serif;

    font-size:3rem;

    color:#cf5d89;

    margin-bottom:30px;
}

.relationship-time{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.time-unit{
    min-width:95px;

    background:#fff6fa;

    border-radius:20px;

    padding:15px;
}

.time-unit span{
    display:block;

    font-size:2rem;

    font-weight:700;

    color:#cf5d89;
}

.time-unit small{
    color:#7a636b;
}

.since-text{
    margin-top:30px;

    font-size:1.1rem;

    color:#8c6a76;
}

.memory-stats{
    margin-top:35px;

    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.stat-item{
    background:#fff6fa;

    padding:12px 18px;

    border-radius:999px;

    color:#6f5961;
}

.future-section{
    padding:100px 20px;
}

.future-card{
    max-width:700px;

    margin:auto;

    text-align:center;

    background:white;

    border-radius:30px;

    padding:50px 30px;

    box-shadow:
        0 15px 40px rgba(0,0,0,.08);
}

.future-card h2{
    font-family:'Cormorant Garamond', serif;

    font-size:3rem;

    color:#cf5d89;

    margin-bottom:20px;
}

.future-intro{
    color:#7a636b;

    margin-bottom:10px;
}

.future-text{

    margin-top:35px;

    min-height:70px;

    font-size:1.4rem;

    font-weight:600;

    color:#cf5d89;

    transition:.5s;
}

.envelope-section{
    padding:120px 20px;
    text-align:center;
}

.envelope-subtitle{
    color:#7a636b;
    margin-bottom:40px;
}

.envelope{
    width:180px;
    height:130px;

    margin:40px auto;

    background:#f8c5d7;

    border-radius:12px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.4s;

    box-shadow:
        0 15px 35px rgba(0,0,0,.12);
}

.envelope:hover{
    transform:translateY(-5px);
}

.envelope-front{
    font-size:4rem;
}

.envelope.open{
    transform:scale(.9);
    opacity:0;
}

.hidden-letter{

    max-width:800px;

    margin:auto;

    background:white;

    border-radius:30px;

    padding:40px;

    box-shadow:
        0 15px 40px rgba(0,0,0,.08);

    display:none;

    animation:letterReveal .8s ease;
}

.hidden-letter.show{
    display:block;
}

.hidden-letter h2{
    color:#cf5d89;

    margin-bottom:30px;

    font-family:'Cormorant Garamond', serif;
}

.letter-text{
    text-align:left;
    line-height:2;
    color:#6f5961;
}

.continued-text{

    margin-top:40px;

    font-size:1.8rem;

    color:#cf5d89;

    font-family:'Cormorant Garamond', serif;
}

@keyframes letterReveal{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.music-modal{
    position:fixed;
    inset:0;

    background:
    rgba(255,247,250,.96);

    z-index:10000;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;
}

.music-popup{
    width:100%;
    max-width:500px;

    background:white;

    border-radius:30px;

    padding:30px;

    box-shadow:
        0 15px 40px rgba(0,0,0,.08);
}

.music-popup h2{
    text-align:center;
    color:#cf5d89;
    margin-bottom:10px;
}

.music-popup p{
    text-align:center;
    color:#7a636b;
    margin-bottom:25px;
}

.song-card{
    display:flex;
    align-items:center;

    gap:15px;

    padding:10px;

    border-radius:15px;

    cursor:pointer;

    margin-bottom:10px;

    transition:.3s;
}

.song-card:hover{
    background:#fff5f9;
}

.song-card.active{
    background:#ffe7f0;
}

.song-card img{
    width:55px;
    height:55px;
    object-fit:cover;
    border-radius:12px;
}

.song-title{
    font-weight:600;
}

.song-artist{
    font-size:.85rem;
    color:#7a636b;
}

#startJourney{
    width:100%;

    margin-top:15px;

    padding:14px;

    border:none;

    background:#cf5d89;

    color:white;

    border-radius:15px;

    cursor:pointer;
}

#startJourney:disabled{
    opacity:.5;
    cursor:not-allowed;
}

.mini-player{
    position:fixed;
backdrop-filter: blur(10px);
    bottom:12px;
    left:12px;
    right:12px;
max-width:800px;
margin:auto;
    background:white;

    border-radius:18px;

    display:flex;
    align-items:center;

    gap:12px;

    padding:10px 14px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.12);

    z-index:999;
}

.hidden{
    display:none;
}

#playerCover{
    width:45px;
    height:45px;

    border-radius:10px;

    object-fit:cover;
}

.player-info{
    flex:1;
    overflow:hidden;
}

#playerTitle{
    font-size:.9rem;
    font-weight:600;
}

#playerArtist{
    font-size:.75rem;
    color:#777;
}

.player-controls{
    display:flex;
    gap:8px;
}

.player-controls button{
    border:none;
    background:none;
    font-size:18px;
    cursor:pointer;
}

.player-right{
    flex:1;
}

.player-progress{
    display:flex;
    align-items:center;
    gap:8px;

    margin-bottom:6px;
}

.player-progress span{
    font-size:.7rem;
    color:#666;
    min-width:35px;
}

#seekBar{
    flex:1;
    cursor:pointer;
}

.reasons-container{
    max-width:800px;
    margin:auto;
}

.reason-card{
    background:white;

    padding:30px;

    border-radius:25px;

    margin-bottom:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    transition:.3s;
}

.reason-card:hover{
    transform:translateY(-5px);
}

.reason-card h3{
    color:#cf5d89;
    margin-bottom:12px;
}

.reason-card p{
    color:#6f5961;
    line-height:1.8;
}

.reason-ending{
    text-align:center;

    margin-top:40px;

    font-size:1.2rem;

    color:#cf5d89;

    font-family:'Cormorant Garamond', serif;
}
